h1, h2, h3, h4, h5, h6, p, span, div, input {
    font-family: 'Roboto';
}

ul {
    padding:0;
    margin:0;
    display: inline-block;
    padding-right:10px;
}

li {
    list-style:none;
    min-height:20px;
    margin:1px;
    border:solid black 1px;
    cursor:move;
    width:150px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}

li.type {
    background-color:#fff;
    height:50px;
    width: 200px;
    position: relative;
    padding: 5px;
    border:solid #064d80 1px;
    border-radius:3px;
    background-color: #c4dff3;
    cursor:default;
}

li.type input {
    cursor:pointer;
}

.close {
    position:absolute;
    top:4;
    right:4;
    cursor:pointer;
    background-color:red;
    width:20px;
    height:20px;
    text-align:center;
    color:white;
    border-radius:3px;
}
.close:before {
  content: '✕';
  position:relative;
  top:-1px;
}

.item .close {
    width:15px;
    height:15px;
    top:2;
    right:2;
    font-size:12;
}

.helper {
    padding:5px;
    border:solid 1px black;
    border-radius:5px;
    max-width:200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

li.item:hover {
    background-color:yellow;
}

li.empty {
    background-color:#ddd;
    border-color:#eee;
    cursor:default;
}

li.over {
    border: 1px solid #dad55e;
	background: #fffa90;
	color: #777620;
}

div.main {
    white-space:nowrap;
}

div.section {
    display:inline-block;
    white-space:nowrap;
    vertical-align:top;
}

div.hour {
    height:61px;
    width:50px;
    margin:1px;
    border:solid black 1px;
    background-color:gold;
    padding-top:5px;
    padding-left:5px;
}
